<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='CSS/materiaStyles.css' )}}" rel="stylesheet" type="text/css" />
    <title>Materia</title>
</head>

<body>
    <header class="top">
        <img src="{{ url_for('static', filename='IMG/Branco_Branco.png') }}" alt="Logo Mauá Branco" id="logo-mmedias">
    </header>
    <div>
        <h1 class="title-page">{{nome_materia}}</h1>
        <div class="container">
            <p class="col-1 align-self-center">Media: </p>
            <p class="col-2 align-self-center"> 10,0 </p>
            <button class="col-4 align-self-center">
                <img src="{{ url_for('static', filename='IMG/minimo-esforco.png') }}" alt="Ícone Mínimo Esforço"
                    style="width: 1em; height: 1em;">
                Mínimo Esforço
            </button>
        </div>
        <p>Peso Prova: {{peso_prova}}</p>
        <p>Peso Trabalho: {{peso_trabalho}}</p>
        <div>
            {% for i in range(quantidade_prova) %}
            <p>P{{ i+1 }}</p>
            <input type="text" name="input{{ i }}" id="input{{ i }}">
            {% endfor %}
        </div>
        <p>Quer fazer Psub?</p>
        <input type="radio" name="psub" value="com_psub">Sim<br>
        <input type="radio" name="psub" value="sem_psub">Não<br>
        <div>
            {% for i in range(quantidade_trabalho) %}
            <p>T{{ i+1 }}</p>
            <input type="text" name="input{{ i }}" id="input{{ i }}">
            {% endfor %}
        </div>
    </div>
    <footer>
        <p>
            © Instituto Mauá de Tecnologia, 2023 - Todos os direitos reservados.
        </p>
    </footer>
</body>

</html>