<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='CSS/homeStyles.css' )}}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>MAUAnet 3.0 - Home</title>
</head>

<body>

    <header class="top">
        <img src="{{ url_for('static', filename='IMG/images/logo-IMT-branco.png') }}" alt="Logo Mauá Branco">

    </header>


    <article>
        <div id="dadosPessoais">
            <h1 id="mauanet">MAUA NET</h1>
            <div>
                <div>
                    <p class="dados">Nome:</p>
                    <p id="nome">{{nome}}</p>
                </div>
                <div>
                    <p class="dados">E-mail:</p>
                    <p id="email">{{email}}</p>
                </div>
                <div>
                    <p class="dados">RA:</p>
                    <p id="RA">{{ra}}</p>
                </div>
                <div>
                    <p class="dados">Grupo/Turma/Lab:</p>
                    <p id="GTL">{{gtl[0:2]}}/{{gtl[2:4]}}/{{gtl[4:6]}}</p>
                </div>
            </div>
            <div class="container">
                <a id="alterarInfo" href="">Alterar Informações</a>
                <a id="logout" href="{{url_for('login')}}">Sair</a>
            </div>
        </div>


        <h2>Menu</h2>
        <div id="menu">
            <a href="{{ url_for('boletim') }}">Boletim</a>
            <a href="{{ url_for('mapa') }}">Mapa</a>
            <a href="{{ url_for('horarios') }}">Horário</a>
            <a href="">Arquivos</a>
            <a href="">PAEs</a>
            <a href="">Outros</a>

        </div>
    </article>


    <footer>
        <p>
            © Instituto Mauá de Tecnologia, 2023 - Todos os direitos reservados.
        </p>
    </footer>

</body>

</html>