/* inicio de header */
header.top{
    display: block;
    padding: 5px;
    border: solid #004684 1px;
    background-color:#004684;
}
header.top > img#logo{
    display: inline;
    width: 172px;
    height: 80px;
    padding: 1px;
    margin: 10px;
    vertical-align: middle;
}

/* fim de header */

/* inicio logo mmedias */

#logo-mmedias{
    width: 160px;
    margin-top: 5px;
    margin-left: 5px;
}

/* fim do logo mmedias */

/* inicio titulo da pagina de materias */
.title-page{
    text-align: center;
}

/* fim titulo da pagina de materias */

/* inicio do Body */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .btn {
        display: block;
    }
}

/* fim do Body */

/* inicio de footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: medium;
    background-color: #004684;
    color: #E6E6E6;
    text-align: center;
    padding: 10px;
}


/* fim de footer */